<div class="container">
  <a href="#" title="Back to the top" class="back-to-top">
    <i class="fa-solid fa-circle-arrow-up fa-2x"></i> 
  </a>
</div>

<style>

.container {
  position: relative;
  padding-top: 16px;
}

.back-to-top {
  text-decoration: none;
  color: #008e94;
  font-size: 18px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 60000;
}
.back-to-top i {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.back-to-top:hover {
  color: #2fc4c9;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 75px;
  }

  .back-to-top {
    font-size: 24px;
  }

  .back-to-top i {
    right: 30px;
    bottom: 30px;
  }
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var backToTop = document.querySelector(".back-to-top");

    backToTop.addEventListener("click", function(event) {
      event.preventDefault();

      // Define the duration of the scroll animation (in milliseconds)
      var duration = 500;

      var target = document.querySelector("#top");
      var targetPosition = target.getBoundingClientRect().top;
      var startPosition = window.pageYOffset;
      var startTime = null;

      function scroll(time) {
        if (startTime === null) startTime = time;
        var timeElapsed = time - startTime;
        var progress = timeElapsed / duration;

        window.scrollTo(0, easeOutQuad(startPosition, targetPosition, progress));

        if (timeElapsed < duration) requestAnimationFrame(scroll);
      }

      function easeOutQuad(start, end, progress) {
        return start + (end - start) * progress * (2 - progress);
      }

      requestAnimationFrame(scroll);
    });
  });
</script>
