.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
  color: #008e94;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.rte a {
  color: #008e94;
  text-decoration: none;
}

.rte a:hover {
  color: #2fc4c9;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
